*test*
*.exe
*.bat
*t.txt
images/thumbnails
novel
images/dt
.venv
__pycache__
.idea
bank.json
config.json
rmz

uploader.py
line_fit.py
novelsrh.py
samples.json
image_search.py
Todolist.md
checklist.json

*.backup