*test*
*.exe
*.bat
*.txt

images/thumbnails
novel
images/dt
rmz

build
dist

.venv
__pycache__
.idea
*.spec

bank.json
*.backup
config.json
srhistory.json

uploader.py
novelsrh.py
Todolist.md
checklist.json
